.cart__container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
}

.cart__body {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 15%;
}

.cart__images {
  object-fit: cover;
  margin: 20px 0 30px 0;
  border-radius: 10%;
  display: block;
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: cover;
}

.item-chapter {
  color: $black;
  font-size: 30px;

  &__line {
    border-radius: 15%;
    width: 90%;
    height: 3px;
    background-color: $black;
    bottom: 0;
    left: 0;
  }
}

.cart-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.btn-container {
  display: flex;
  margin-top: 35px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.removeAll {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.removeAll:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.removeAll:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.submit {
  margin: 50px 0px 0px;
}

.cart-size-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  font-size: 20px;
}

.cart-sizes-select {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.cart-add {
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}

.cart-add:hover {
  color: $green;
  transition: 0.5s;
}

.side-order-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 50px;
}

.order-elements {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.buyer-info-conteiner {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.buyer-info-el {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nova_poshta-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.nova_poshta-logo {
  width: 60px;
  cursor: none;
}

.nova_poshta-el {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 15px;
}

.payment-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.payment-el {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cart-input {
  height: 30px;
  font-size: 15px;
  transition: 0.5s;
}

.department {
  width: 400px;
}

.invalid {
  color: $red;
}

@media only screen and (max-width: 768px) {
  .order-container {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
  }

  .order-elements {
    margin-top: 15px;
  }

  .department {
    width: 100%;
  }
}
