.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 150px;

  background-color: $dark-grey;
  color: $white;
  text-align: center;
  padding: 10px;

  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    & li {
      margin-top: 10px;
    }
  }
}

.social {
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__links:hover {
  color: $mint;
  text-decoration: underline;
}

.years__container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.underline {
  margin: auto;
  border-radius: 15%;
  width: 5%;
  height: 3px;
  background-color: $black;
  bottom: 0;
  left: 0;
}

.years {
  margin-top: 10px;
  font-size: 15px;
  font-family: $creepster;
  color: $red;
}

.footer__container-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 150px;
  }

  .footer__container {
    display: none;
  }

  .footer__container-mobile {
    display: block;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
